Package: zencash-desktop-gui-wallet
Version: 1.0.2
Section: misc
Priority: low
Architecture: all
Description: Horizen Desktop GUI Wallet 
Maintainer: infrastructure@horizen.io
Depends: default-jdk, zen
