[Desktop Entry]
Version=1.0
Name=Horizen Wallet
Comment=Horizen Desktop GUI Wallet (full node)
GenericName=Horizen Wallet
Keywords=ZENCash;Crypto-currency;ZEN;
Exec=zencash-desktop-gui-wallet
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/lib/zencash-gui-wallet/ZEN-icon.png
Categories=GNOME;Application;
StartupNotify=true
